StringFlexBox/.vs/ProjectEvaluation/stringflexbox.metadata.v9.bin
StringFlexBox/.vs/ProjectEvaluation/stringflexbox.projects.v9.bin
StringFlexBox/.vs/ProjectEvaluation/stringflexbox.strings.v9.bin
StringFlexBox/.vs/StringFlexBox/DesignTimeBuild/.dtbcache.v2
StringFlexBox/.vs/StringFlexBox/FileContentIndex/3d7aa4af-7450-4aac-b4c3-df90c9b55871.vsidx
StringFlexBox/.vs/StringFlexBox/v17/.futdcache.v2
StringFlexBox/.vs/StringFlexBox/v17/.suo
StringFlexBox/.vs/StringFlexBox/v17/DocumentLayout.backup.json
StringFlexBox/.vs/StringFlexBox/v17/DocumentLayout.json
StringFlexBox/bin/Debug/net9.0/StringFlexBox.dll
StringFlexBox/bin/Debug/net9.0/StringFlexBox.exe
StringFlexBox/bin/Debug/net9.0/StringFlexBox.pdb
StringFlexBox/obj/Debug/net9.0/apphost.exe
StringFlexBox/obj/Debug/net9.0/ref/StringFlexBox.dll
StringFlexBox/obj/Debug/net9.0/refint/StringFlexBox.dll
StringFlexBox/obj/Debug/net9.0/StringFlexBox.AssemblyInfo.cs
StringFlexBox/obj/Debug/net9.0/StringFlexBox.AssemblyInfoInputs.cache
StringFlexBox/obj/Debug/net9.0/StringFlexBox.assets.cache
StringFlexBox/obj/Debug/net9.0/StringFlexBox.csproj.FileListAbsolute.txt
StringFlexBox/obj/Debug/net9.0/StringFlexBox.dll
StringFlexBox/obj/Debug/net9.0/StringFlexBox.GeneratedMSBuildEditorConfig.editorconfig
StringFlexBox/obj/Debug/net9.0/StringFlexBox.genruntimeconfig.cache
StringFlexBox/obj/Debug/net9.0/StringFlexBox.pdb
StringFlexBox/obj/Debug/net9.0/StringFlexBox.sourcelink.json
StringFlexBox/obj/project.assets.json
StringFlexBox/obj/project.nuget.cache
StringFlexBox/obj/StringFlexBox.csproj.nuget.dgspec.json

### Visual Studio / .NET ###
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache and config
.vs/

# Generated files
*.pidb
*.svclog
*.vshost.*
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*_i.asm
*.cachefile

# Others
*.dbmdl
*.bak
*.backup
*.BLOB
*.mdf
*.ldf

# NuGet
*.nupkg
# The packages folder can be ignored if you use restore
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Azure
*.azurePubxml
*.publishproj

# Rider (JetBrains) ###
.idea/
.idea/*
*.iml

# Rider specific
out/
.idea/.idea.*
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/httpRequests
.idea/caches/
.idea/compiler.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries

# JetBrains project files
*.ipr
*.iws

# Rider logs
.idea/**/shelf/
.idea/**/workspace.xml

# Misc
*.sln.iml
