TextboxTesting/.vs/TextboxRebuild/FileContentIndex/9ab2234e-16c2-419a-b829-42b9b5b3ccda.vsidx
TextboxTesting/.vs/TextboxRebuild/FileContentIndex/9c087571-6d5a-47dc-8a48-7a6b03cc72f9.vsidx
TextboxTesting/.vs/TextboxRebuild/v17/.suo
TextboxTesting/.vs/TextboxRebuild/v17/DocumentLayout.backup.json
TextboxTesting/.vs/TextboxRebuild/v17/DocumentLayout.json
TextboxTesting/bin/Debug/net9.0/TextboxRebuild.dll
TextboxTesting/bin/Debug/net9.0/TextboxRebuild.exe
TextboxTesting/bin/Debug/net9.0/TextboxRebuild.pdb
TextboxTesting/HelperClasses/StringHelpers.cs
TextboxTesting/obj/Debug/net9.0/apphost.exe
TextboxTesting/obj/Debug/net9.0/ref/TextboxRebuild.dll
TextboxTesting/obj/Debug/net9.0/refint/TextboxRebuild.dll
TextboxTesting/obj/Debug/net9.0/TextboxRebuild.AssemblyInfo.cs
TextboxTesting/obj/Debug/net9.0/TextboxRebuild.AssemblyInfoInputs.cache
TextboxTesting/obj/Debug/net9.0/TextboxRebuild.dll
TextboxTesting/obj/Debug/net9.0/TextboxRebuild.pdb
TextboxTesting/obj/Debug/net9.0/TextboxRebuild.sourcelink.json
