TextboxTesting/.vs/TextboxRebuild/FileContentIndex/9ab2234e-16c2-419a-b829-42b9b5b3ccda.vsidx
TextboxTesting/.vs/TextboxRebuild/FileContentIndex/9c087571-6d5a-47dc-8a48-7a6b03cc72f9.vsidx
TextboxTesting/.vs/TextboxRebuild/v17/.suo
TextboxTesting/.vs/TextboxRebuild/v17/DocumentLayout.backup.json
TextboxTesting/.vs/TextboxRebuild/v17/DocumentLayout.json
TextboxTesting/bin/Debug/net9.0/TextboxRebuild.dll
TextboxTesting/bin/Debug/net9.0/TextboxRebuild.exe
TextboxTesting/bin/Debug/net9.0/TextboxRebuild.pdb
TextboxTesting/HelperClasses/StringHelpers.cs
TextboxTesting/obj/Debug/net9.0/apphost.exe
TextboxTesting/obj/Debug/net9.0/ref/TextboxRebuild.dll
TextboxTesting/obj/Debug/net9.0/refint/TextboxRebuild.dll
TextboxTesting/obj/Debug/net9.0/TextboxRebuild.AssemblyInfo.cs
TextboxTesting/obj/Debug/net9.0/TextboxRebuild.AssemblyInfoInputs.cache
TextboxTesting/obj/Debug/net9.0/TextboxRebuild.dll
TextboxTesting/obj/Debug/net9.0/TextboxRebuild.pdb
TextboxTesting/obj/Debug/net9.0/TextboxRebuild.sourcelink.json
StringFlexBox/.vs/ProjectEvaluation/stringflexbox.metadata.v9.bin
StringFlexBox/.vs/ProjectEvaluation/stringflexbox.projects.v9.bin
StringFlexBox/.vs/ProjectEvaluation/stringflexbox.strings.v9.bin
StringFlexBox/.vs/StringFlexBox/DesignTimeBuild/.dtbcache.v2
StringFlexBox/.vs/StringFlexBox/FileContentIndex/3d7aa4af-7450-4aac-b4c3-df90c9b55871.vsidx
StringFlexBox/.vs/StringFlexBox/v17/.futdcache.v2
StringFlexBox/.vs/StringFlexBox/v17/.suo
StringFlexBox/.vs/StringFlexBox/v17/DocumentLayout.backup.json
StringFlexBox/.vs/StringFlexBox/v17/DocumentLayout.json
StringFlexBox/bin/Debug/net9.0/StringFlexBox.dll
StringFlexBox/bin/Debug/net9.0/StringFlexBox.exe
StringFlexBox/bin/Debug/net9.0/StringFlexBox.pdb
StringFlexBox/obj/Debug/net9.0/apphost.exe
StringFlexBox/obj/Debug/net9.0/ref/StringFlexBox.dll
StringFlexBox/obj/Debug/net9.0/refint/StringFlexBox.dll
StringFlexBox/obj/Debug/net9.0/StringFlexBox.AssemblyInfo.cs
StringFlexBox/obj/Debug/net9.0/StringFlexBox.AssemblyInfoInputs.cache
StringFlexBox/obj/Debug/net9.0/StringFlexBox.assets.cache
StringFlexBox/obj/Debug/net9.0/StringFlexBox.csproj.FileListAbsolute.txt
StringFlexBox/obj/Debug/net9.0/StringFlexBox.dll
StringFlexBox/obj/Debug/net9.0/StringFlexBox.GeneratedMSBuildEditorConfig.editorconfig
StringFlexBox/obj/Debug/net9.0/StringFlexBox.genruntimeconfig.cache
StringFlexBox/obj/Debug/net9.0/StringFlexBox.pdb
StringFlexBox/obj/Debug/net9.0/StringFlexBox.sourcelink.json
StringFlexBox/obj/project.assets.json
StringFlexBox/obj/project.nuget.cache
StringFlexBox/obj/StringFlexBox.csproj.nuget.dgspec.json
